postgres_integration="postgresql://user:password@host:port/database"
postgres_production="postgresql://user:password@host:port/database"
mongo_integration="mongodb+srv://user:password@host/?retryWrites=true&w=majority&appName=mongosh%22"
mongo_production="mongodb+srv://user:password@host/?retryWrites=true&w=majority&appName=mongosh%22"
clickhouse_integration_main="-h int.host.main -u user -B password -p http-port -k"
clickhouse_integration_api="-h int.host.api -u user -B password -p http-port -k"
clickhouse_production_main="-h prod.host.main -u user -B password -p http-port -k"
clickhouse_production_api="-h prod.host.api -u user -B password -p http-port -k"
mysql_ext_integration="mysql://user:password@host:port/database"
mysql_ext_production="mysql://user:password@host:port/database"
