postgres_integration="postgresql://"
postgres_staging="postgresql://"
postgres_production="postgresql://"
mongo_integration="mongodb://"
mongo_staging="mongodb://"
mongo_production="mongodb://"
clickhouse_integration="clickhouse://"
clickhouse_staging="clickhouse://"
clickhouse_production="clickhouse://"
mysql_int_integration="mysql://"
mysql_ext_integration="mysql://"
clickhouse_aws=" --config <path_to_config.xml with ssl>"
postgres_aws="postgresql://"
