postgres_integration="postgresql://"
postgres_staging="postgresql://"
mongo_integration="mongodb://"
mongo_staging="mongodb://"
mongo_production="mongodb://"
clickhouse_integration="clickhouse://"
clickhouse_staging="clickhouse://"
